:root {
    --bg:#ffffff;
    --text:#1e1e1e;
    --alt-bg:#f1f1f1;
    --red:#f21b2d;
    --blue:#195973;
}

body {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    padding: 0px;
    margin: 0px;
}

h1,h2,h3 {
    font-family: 'Sarala', sans-serif;
    color: var(--text);
}

h1 {
    text-align: center;
}

/* Header Styles */
header {
    background-color: var(--blue);
    margin: 0px;
    padding: 1em;
    min-height: 40vh;
}

.img-section {
    padding-left: 20vw;
}

.img-section p {
    padding-bottom: 1rem;
}

/* Banner imitating the header styles */
.banner {
    background-color: var(--blue);
    margin: 0px;
    padding: 1em;
    min-height: 30vh;
}

.banner h2 {
    color: var(--bg);
}

/* Image Styles */
.img-section, .img-section h2, .img-section a, header h1 {
    color: var(--bg);
}

/* Links Styles */
.button {
    background-color: var(--bg);
    padding: 0.4em;
}

a, a:hover, a:visited {
    color: var(--text);
    text-decoration: none;
}

/* Styles for Centered Items */

#centered-boxes {
    display: flex;
    justify-content: space-evenly;
    gap: 5vw;
    padding: 1em;
}

.cent-box {
    max-width: 20em;
    text-align: center;
}

.centered {
    text-align: center;
    max-width: 30em;
    margin: 0 auto;
    padding: 1em;
}

div:has(.centered) {
    background-color: var(--alt-bg);
    padding: 1rem;
}

/* Two aligned images styles */

.split-img {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
}

.img-half {
    background-color: var(--blue);
    height: 60rem;
}

.text-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 40rem;
}

.text-half-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 30rem;
}

/* Styles for specs section */
.specs {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.info h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

#color-1 {
    width: 9rem;
    height: 9rem;
    background-color: var(--red);
}

#color-2 {
    width: 9rem;
    height: 9rem;
    background-color: var(--blue);
}

.color-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.info {
    padding-bottom: 3rem;
}